h1
  a(href=jade.helpers.url('home')) Loan Shark
nav
  a(href=jade.helpers.url('loans')) Loans
  a.secondary(href=jade.helpers.url('new_loan')) New Loan
  a(href=jade.helpers.url('people')) People
  a.secondary(href=jade.helpers.url('new_person')) New Person